@font-face {
  src: url('../fonts/Roslindale-TextRegular-Testing.woff2') format("woff2"),
       url('../fonts/Roslindale-TextRegular-Testing.woff') format("woff");
  font-family: 'Roslindale';
  font-style: normal;
  font-weight: normal;
}

@font-face {
  src: url('../fonts/Roslindale-TextItalic-Testing.woff2') format("woff2"),
       url('../fonts/Roslindale-TextItalic-Testing.woff') format("woff");
  font-family: 'Roslindale';
  font-style: italic;
  font-weight: normal;
}

@font-face {
  src: url('../fonts/Roslindale-TextBold-Testing.woff2') format("woff2"),
       url('../fonts/Roslindale-TextBold-Testing.woff') format("woff");
  font-family: 'Roslindale';
  font-style: normal;
  font-weight: bold;
}

@font-face {
  src: url('../fonts/Roslindale-DeckNarrowSemiBold-Testing.woff2') format("woff2"),
       url('../fonts/Roslindale-DeckNarrowSemiBold-Testing.woff') format("woff");
  font-family: 'Roslindale-Deck-Narrow';
  font-style: normal;
  font-weight: 600;
}