@mixin clearfix() {
    &::before,
    &::after {
      content: "";
      display: table;
    }
     
    &::after {
      clear: both;
    }
}

@mixin media($media) {
    @media screen and (min-width: #{$media}) {
        @content;
    }
}

@mixin main-container() {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 $s24;
    @include media($desktop--small) {
        padding: {
            left: $s40;
            right: $s40;
        }
    }
}

.main-content {
    @include main-container();
    @include clearfix();
}