.spacing-below-0 {
	margin-bottom: 0;
}

.spacing-below-4 {
	margin-bottom: $s4;
}

.spacing-below-8 {
	margin-bottom: $s8;
}

.spacing-below-12 {
	margin-bottom: $s12;
}

.spacing-below-16 {
	margin-bottom: $s16;
}

.spacing-below-20 {
	margin-bottom: $s20;
}

.spacing-below-24 {
	margin-bottom: $s24;
}

.spacing-below-32 {
	margin-bottom: $s32;
}

.spacing-below-40 {
	margin-bottom: $s40;
}

.spacing-below-52 {
	margin-bottom: $s52;
}

.spacing-below-72 {
	margin-bottom: $s72;
}

.spacing-below-84 {
	margin-bottom: $s84;
}

.spacing-below-96 {
	margin-bottom: $s96;
}

.spacing-below-136 {
	margin-bottom: $s136;
}