---
layout: default
---

<article class="post main-content">
	<header class="post__header row">
		<div class="post__info col-md-5">
			<h1 class="post__title">{{ page.title }}</h1>
			<p class="post__detail">{{ page.dates }}</p>
			<p class="post__detail">{{ page.organization }}</p>
		</div>
		<div class="post__hero col-md-offset-1 col-md-6">
			{% if page.hero %} {% picture {{ page.hero }}  %} {% endif %}
		</div>
	</header>
	<section class="post__content">
		{{ content }}
	</section>
</article>